altair>=5.5.0
crewai>=0.95.0
extract-msg>=0.45.0
gpt4all>=1.0.8
gradio>=5.12.0
httptools>=0.6.4
langchain>=0.1.11
llama-cpp-python>=0.1.81
matplotlib>=3.10.0
ollama>=0.4.6
pandoc>=2.3
pip-chill>=1.0.3
pymupdf>=1.23.5
pypandoc>=1.11
sentence-transformers>=2.2.2
unstructured>=0.10.8
uvloop>=0.21.0
watchfiles>=1.0.4
weaviate-client>=4.9.6pip 